@media only screen and (max-width: 762px) {
    .col-1 {
        display: none;
    }
    .menu-responsive {
        display: block;
        height: 50px;
        width: 50px;
        margin-right: 20px;
    }
    .welcome-text-container {
        width: 100%;
    }
    .welcome-container img {
        width: 100%;
    }
    .d-flex {
        flex-wrap: wrap;
    }
    .col-2 a {
        display: none;
    }
    .logo-responsive {
        display: flex;
    }
    .logo-responsive img {
        height: 50px;
        width: 50px;
        padding: 5px;
    }
    .notification-block {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
        flex-wrap: nowrap;
    }
}