@media screen and (max-width: 1205px) {
    .responsive-1 {
        width: 100% !important;
    }
    .responsive-2 {
        width: 50%;
    }
    .logo-responsive {
        display: flex;
    }
    .display-none-input {
        display: none;
    }
    .responsive-3 {
        width: 100%;
        flex-wrap: wrap;
    }
    .ruka-zoommer-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .marjvena-misamarti {
        margin-top: 20px !important;
        padding: 30px !important;
    }
    .responsive-margin-1 {
        margin-left: 33%;
    }
}